 <!-- Jobs Section -->
    <section id="jobs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Trabalhos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-xs-12">
							<div>
								<img src="img/empresas/elfa.png" class="img-responsive" alt="">
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-xs-12 medio-centro">
							<h3> ELFA Publicidade </h3>
							<h4>WebMaster</h4>2013-2014
							<p>
								Nunca havia trabalhado antes em uma empresa, tive medo de não corresponder a tal função, porém
								me acolheram muito bem e o ambiente de lá fez com que me sentisse em casa. Mais de 25 sites desenvolvidos usando tecnologias como Wordpress e Framework próprio.
							</p>
						</div>
					</div>
                </div>
			</div>
			<div class="row">
			
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-9 col-md-9 col-xs-12">
							<h3> Agência Digital StudioGT </h3>
							<p><h4>Front-end & Back-end</h4>2013-2014</p>
							<p>
								De início tudo aconteceu muito rápido, desde o primeiro retorno da empresa até minha contratação. Ambiente descontraído, além disso profissionais muito bem capacitados, dinâmica de trabalho totalmente organizada, 
								produtiva e ágil. Estou realmente feliz em trabalhar com essa "turminha da pesada que apronta de todas". <i>~just kidding~</i>
							</p>
						</div>
						<div class="col-lg-3 col-md-3 col-xs-12">
							<div>
								<img src="img/empresas/studiogt.png" class="img-responsive" alt="">
							</div>
						</div>
					</div>
                </div>
                
            </div>
        </div>
    </section>