 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
				<p>Aluno de escola estadual, nunca repeti de ano sempre tive como educação que meus estudos são os meus maiores bens. Minha conexão com a música foi aos 12 anos, aonde ganhei meu primeiro violão, dedicava-me em torno de 10-12 horas diárias sobre o instrumento. Aprendi tudo pela internet usando softwares, assistindo videos, lendo apostilas e etc. Após um ano pedi uma guitarra, no qual maximizou mais um amor pela música. No periodo de 2011 á 2013 tentei exaustivamente ingressar na Universidade Federal do Rio Grande do Sul( UFRGS ) no curso de Ciência da Computação, infelizmente não era o meu momento, em fevereiro de 2013 coloquei em mente que deveria descansar dos estudos, mesmo sabendo que era errado, para analisar/lidar de fato com área de tecnologia.</p>
				<p>Em 2014 decidi voltar aos estudos e ingressar em uma Universidade (PUCRS), acho que foi a primeira encruzilhada da minha vida, deixar de fazer o que ama e resultando na felicidade de seus próximos, mas por um lado pensava no meu futuro, ai que caiu a ficha que na vida tu tens que ceder para conquistar o teu sucesso, lembro de cada frase de apoio que recebi durante esse meu pequeno percurso... </p>
        </div>
    </section>